* {
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  .button_two {
    display: none;
  }
  .button_three {
    display: none;
  }
  .poems p{
    width: 80%;
    margin-left: 10%;
    font-size: 20px;
  }
}

@media (max-width: 1024px) {

  .header,
  .nav {
    width: 100%;
  }
  .photos img:hover {
    pointer-events: none;
  }

  .aboutking p {
    font-size: 20px;
  }

  .img_placestogo {
    max-width: 400px;
    max-height: 200px;

  }

  .ravan_ul {
    width: 100%;
  }
 
  .poems p{
    width: 80%;
    margin-left: 10%;
    font-size: 14px;
  }
  .poemsContent ol li{
    width: 125%;
    margin-right: 5%;
    margin-left: -15%;
    font-size: 16px;
  }

}

@media (max-width: 768px) {

  .header,
  .nav {
    width: 100%;
    border-top: none;
    flex-direction: column;

  }

  .aboutking {
    max-height: 500px;
  }

  .nav li {
    justify-content: center;
    margin: auto;
    padding-right: 0;
    padding-right: 45px;
  }

  .second_content .graffiti,
  .second_content .paintings {
    float: none;
    width: 100%;
  }

  .paragraph .more_painting_button {
    margin: 0 0 0 60px;
  }

  .footer {
    width: 100%;
    border-top: none;
    flex-direction: column;

  }

  .footer li {
    justify-content: center;
    margin: auto;
    padding-right: 0;
    padding-right: 45px;
  }

  .footer_copyright {
    margin: 0;
  }

  .gallery {
    width: 49.99999%;
    margin: 6px 0;
  }

  .img_placestogo {
    max-width: 280px;
    max-height: 200px;

  }

  .story p {
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .ravan_ul {
    font-size: 14px;
    width: 100%;
  }

  .ravan_p {
    font-size: 14px;
  }

  .contact_us iframe {
    text-align: center;
    width: 400px;
    height: 800px;
  }
  .poems p{
    width: 80%;
    margin-left: 10%;
    font-size: 14px;
  }
  .poemsContent ol li{
    width: 125%;
    margin-right: 5%;
    margin-left: -15%;
    font-size: 14px;
  }

}

@media (max-width: 400px) {

  .button span {
    font-size: 15px;
  }

  .aboutking {
    max-height: 450px;
  }

  .videos a {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .img_placestogo {
    max-width: 250px;
    max-height: 140px;

  }

  .story p {
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .poems_title {
    text-align: justify;
    max-width: 300px;
    display: block;
    margin-left: 0%;
    margin-right: 0%;
  }
  .poems p{
    width: 80%;
    margin-left: 10%;
    font-size: 12px;
  }

  .poemsTen {
    font-size: 11px;
  }

  .ravan_ul {
    font-size: 13px;
    width: 100%;
  }

  .ravan_p {
    font-size: 13px;
  }

  .contact_us iframe {
    text-align: center;
    width: 300px;
    height: 800px;
  }
  .poemsContent ol li{
    width: 125%;
    margin-right: 5%;
    margin-left: -20%;
    font-size: 12px;
  }

}




/******************************
Additional Styling
*******************************/

body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  background: url(/img/backgroundMain.jpg) no-repeat center;
  background-size: cover;
}

.logo {
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  text-align: center;
}

.nav {
  display: flex;
  overflow: hidden;
  background-color: #333;
  list-style: none;
  margin: 0;
  justify-content: center;
}


.nav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  display: block;

}

.nav li a:hover {
  color: rgba(255, 255, 255, 0.7);
}

div .img {
  width: 100%;
  max-height: 650px;
  min-height: 300px
}

.readmore_button {

  background-color: #5c8067;
  font-size: 32px;
  text-decoration: none;
}

.readmore_button_two {
  padding: 10px;
  color: #FFF;
  background-color: gray;
  font-size: 15px;
  text-align: center;
  font-style: normal;
  margin: auto;
  text-decoration: none;
  justify-content: center;
  margin-left: 5px;
}

.more_painting_button:hover {
  transform: rotate(5deg);
  padding: 10px;
  color: #FFF;
  background-color: gray;
  font-size: 15px;
  text-align: center;
  font-style: normal;
  margin: auto;
  text-decoration: none;
  justify-content: center;
}

.aboutking {
  color: white;
  text-align: left;
  padding: 10% 0 10% 0;
  height: 650px;
  background: linear-gradient(to bottom, transparent, black), #434a52 url('../img/sigiriya.jpg') no-repeat center;
  background-size: cover;

}

.graffiti,
.paintings {
  padding-left: 3%;
  padding-right: 3%;
  width: 46.5%;
  text-align: justify;
}

.graffiti {
  float: left;
}

.paintings {
  float: right;
}

.graffiti img,
.paintings img {
  height: 400px;
  width: 100%;

}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  display: flex;
  overflow: hidden;
  background-color: #333;
  list-style: none;
  margin: 0;
  justify-content: center;
}

.footer a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  display: block;
}

.footer a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.footer_copyright {
  margin: 0;
  background-color: #333;
  text-align: center;
  color: white;
}

.gallery_h1 {
  text-align: center;
  margin-top: 0%;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}

.photos img {
  height: 200px;
  width: 250px;
  padding: 4px;
  margin: 10px 0 0 25px;
}

.photos img:hover {
  transform: scale(1.9);
  transition: .9s ease-in-out;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.videos iframe {
  padding: 10px;
}

.places {
  width: 95%;
  margin: auto;
}


.img_placestogo {
  width: 800px;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.map {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Form */
.contact_us {
  margin-top: 20px;
  text-align: center;
}

.story p {
  width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.poems_title {
  font-size: 20px;
  margin: 0 20% 0 20%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.poemsContent {
  text-align: left;
  padding: 10% 15% 10% 15%;
  text-align: justify;
  font-size: 20px;
}

.poems {
  background-color: #DB9337;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.poems h1 {
  margin-top: 0%;
}

.aboutWe {
  text-align: center;
}

.weimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.ravanImg {
  opacity: 0.5;
  width: 49%;
}

.ravanImg:hover {
  color: yellow;
  opacity: 1;
}

.kashyapaImg {
  width: 49%;
  opacity: 0.5;
}

.kashyapaImg:hover {
  opacity: 1;
}

#boxContainer {
  display: flex;
  justify-content: space-between;

}

.story {
  background-color: black;

}

.story h1 {
  margin-top: 0%;
  color: white;
  padding-top: 1%;
}

.backgroundTwo {
  margin-top: 0%;
  background: url(../img/background2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.kashyapaStory {
  margin: 0 10% 0 10%;
}

.ravanStory p {
  margin: 0 10% 0 10%;

}

.button_one {
  display: inline-block;
  margin-top: 300px;
  margin-left: 70px;
  font-size: 20px;
  color: #000000;
  transition: all 0.5s;
  cursor: pointer;

}

.button_one span {
  display: inline-block;
  padding: 10px 20px;
  background-color:green;
  line-height: 1;
  cursor: pointer;
  position: relative;
  transition: 0.5s;

}
.button_one span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  margin-top: 8px;
  margin-right: 10px;
  right: -20px;
  transition: 0.5s;
}

.button_one:hover span {
  padding-right: 40px;

}
.button_one:hover span:after {
  opacity: 1;
  right: 0;
}

.button_two {
  font-size: 20px;
  color: #000000;
}

.button_two span {
  display: inline-block;
  padding: 10px 20px;
  background-color: green;
  font-family: 'Pacifico', Arial, sans-serif;
  line-height: 1;
  margin-left: 20px;
}

.button_two:hover span {
  background-color: #ec6a9c;
}

.button_three {
  font-size: 20px;
  color: #000000;
}

.button_three span {
  display: inline-block;
  padding: 10px 20px;
  background-color: green;
  font-family: 'Pacifico', Arial, sans-serif;
  line-height: 1;
}

.button_three:hover span {
  background-color: #ec6a9c;
}

.ravan_ul {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.ravan_h2 {
  margin-left: 10%;
  margin-right: auto;
}

.picsHover:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.picsHover:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.025);
}